@import url(styles.css);

/* General styling */

* {
  box-sizing: border-box;
}

body {
  font-family: "Bahnschrift", Verdana, Geneva, Tahoma, sans-serif;
  color: #0b626f;
  margin: 0;
  height: 100vh;
}

header,
footer {
  position: relative;
  background-color: #0b626f;
  padding: 1rem;
}

.active-page {
  color: #f5c55d;
}

img {
  max-width: 100%;
}

main {
  margin: 1.5rem;
  text-align: center;
}

main a {
  color: #0b626f;
  text-decoration: none;
}

main a:hover {
  color: #f5c55d;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.wrapper main {
  flex: 1;
}

.cta-button {
  display: inline-block;
  font-size: 1.2rem;
  color: #fff;
  text-decoration: none;
  background-color: #0b626f;
  border: 1px solid;
  border-color: #0b626f;
  padding: 0.6rem;
  margin: 0.5rem;
}

.cta-button:hover {
  font-size: 1.2rem;
  color: #fff;
  text-decoration: none;
  background-color: #f5c55d;
  padding: 0.6rem;
  margin: 0.5rem;
  border: 1px solid;
  border-color: #0b626f;
}

button[type="submit"] {
  background-color: #0b626f;
  color: #fff;
  border: none;
  padding: 0.5rem;
  border-radius: 5px;
}

/* Mobile styling for: index.html */

.content-logo {
  display: none;
}

.intro-text,
.newsletter {
  padding: 1rem;
  border: 1px solid #0b626f;
  margin: 1rem 0rem;
}

.intro-links {
  background-color: #0b626f;
}

.intro-links a {
  display: inline-block;
  font-size: 1.1rem;
  color: #0b626f;
  background-color: #fff;
  text-decoration: none;
  text-align: center;
  width: 7rem;
  max-width: 100%;
  margin: 1rem;
  padding: 0.6rem;
}

.sale {
  text-transform: uppercase;
  color: #f5c55d;
  background-color: #000;
  padding: 1rem;
}

#newsletter-email {
  color: #0b626f;
  border: none;
  border-bottom: 1px solid #0b626f;
  font-size: 1rem;
  padding: 0.5rem;
  max-width: 100%;
}

/* Mobile styling for products.html */

.product_img,
.filters {
  display: flex;
  margin: auto;
  width: 68rem;
  max-width: 100%;
}

.filters {
  flex-direction: column;
  text-align: left;
  margin-bottom: 2rem;
}

.product_img img {
  border-top: 1px #0b626f solid;
  border-bottom: 1px #0b626f solid;
}

.filters > * {
  margin-left: 2rem;
}

div select {
  border: none;
  color: #0b626f;
}

select option {
  background-color: #0b626f;
  color: #fff;
}

.jacket,
.jacket p {
  margin: 2rem auto;
  border: 1px solid #0b626f;
  width: 21rem;
  max-width: 100%;
}

.jacket p,
.jacket a,
.jacket a:hover {
  width: 100%;
  border-left: none;
  border-right: none;
  padding: 1rem 0rem;
  margin: 0;
}

/* Mobile/desktop styling: about.html */

.rainydays-hq,
.about-info {
  width: 55rem;
  max-width: 100%;
  margin: auto;
  padding-bottom: 1rem;
}

/* Mobile/desktop styling for contact.html */

.contact {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: auto;
  width: 50rem;
  max-width: 100%;
}

.contact_info,
.contact_form {
  text-align: left;
  margin: 0 auto;
}

.contact_info img {
  width: 3rem;
}

.contact_info div {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.contact_input {
  display: flex;
  flex-direction: column;
}

.contact_input input,
.contact_input textarea {
  border: #0b626f 1px solid;
  width: 100%;
  margin: 0.5rem 0rem;
  padding: 0.5rem;
}

.contact_input textarea {
  height: 5rem;
}

#contact_button {
  background-color: #0b626f;
  color: #fff;
  font-family: "Bahnschrift";
  font-size: 1.2rem;
  border: none;
  padding: 0.4rem 1.2rem;
}

/* Mobile styling for shopping_bag.html */

.item_headers,
.item_info {
  display: flex;
  justify-content: end;
  align-items: center;
  margin: auto;
  width: 40rem;
  max-width: 100%;
}

.item_headers,
.sb_jacket,
.sum_breakdown {
  border-bottom: 2px solid #0b626f;
}

.item_headers p {
  margin-left: 3rem;
}

.item_info p {
  margin-left: 1.5rem;
}

.sb_jacket {
  display: flex;
  align-items: center;
  margin: auto;
  width: 40rem;
  max-width: 100%;
  padding-bottom: 2rem;
}

.product_specific_img {
  width: 15rem;
}

.sum_breakdown {
  display: flex;
  justify-content: space-between;
  width: 40rem;
  max-width: 100%;
  margin: auto;
}

.breakdown_text {
  text-align: left;
}

.breakdown_numbers {
  text-align: right;
}

#discount {
  border: #0b626f 1px solid;
  margin: 0.5rem 0rem;
  padding: 0.4rem;
  border-radius: 5px;
}

.buttons {
  flex-wrap: wrap;
}

.buttons > * {
  flex: 1;
}

/* Mobile/desktop styling: shipping.html/payment.html */

.progress_text,
.progress_bar {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 70rem;
  max-width: 100%;
}

.shipping,
.payment {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.shipping div,
.payment div {
  border: 1px solid #0b626f;
  width: 12rem;
  border-radius: 15px;
  padding: 1.5rem;
  margin: 0.6rem;
}

.shipping_info,
.cc_info,
.password {
  display: flex;
  flex-direction: column;
  width: 28rem;
  max-width: 100%;
  margin: 1.5rem auto;
  text-align: left;
}

.shipping_info input,
.cc_info input,
.password input {
  box-sizing: border-box;
  border: #0b626f 1px solid;
  width: 100%;
  margin: 0.5rem 0rem;
  padding: 0.5rem;
}

.shipping_info > *,
.cc_info > *,
.password > * {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.save_info,
.cta_buttons {
  display: flex;
  justify-content: space-between;
  width: 28rem;
  max-width: 100%;
  margin: 1.5rem auto;
  text-align: center;
}

.order-button {
  display: inline-block;
  font-size: 1.1rem;
  color: #000;
  text-decoration: none;
  background-color: #f5c55d;
  padding: 1rem 2.5rem;
}

/* Mobile styling for checkout_success.html */

.checkout_success {
  margin: 2rem;
}

/* Desktop styling */

@media (min-width: 900px) {
  h1 {
    font-size: 1.8rem;
  }

  h2 {
    font-size: 1.6rem;
  }

  /* Desktop styling for index.html */

  .content-logo {
    display: block;
    margin: auto;
  }

  .desktop-intro {
    color: #fff;
    background-color: #0b626f;
    border: solid 1px #ccc;
    outline: solid 1rem #0b626f;
    max-width: 55%;
    padding: 1rem;
    grid-column: 1 / 3;
    grid-row: 2;
    z-index: 1;
  }

  .intro-text {
    padding: 0;
    margin: 0;
  }

  .intro-links a:hover {
    background-color: #f5c55d;
    color: #fff;
  }

  .desktop-hero {
    display: grid;
    align-items: center;
    justify-items: center;
  }

  .desktop_hero_img {
    min-width: 45rem;
    margin-right: 3rem;
    grid-column: 2 / 4;
    grid-row: 1 / 4;
  }

  .sale-newsletter {
    display: flex;
    align-items: center;
    margin-top: 1rem;
  }

  .sale-newsletter > * {
    flex: 1;
    height: 13rem;
    max-height: 100%;
  }

  .sale {
    border: 1px solid #000;
  }

  .sale h2 {
    padding-top: 2rem;
  }

  /* Desktop styling for products.html */

  .product_wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 70rem;
    max-width: 100%;
    margin: auto;
  }

  /* Desktop styling for shopping_bag.html */

  .buttons {
    flex-direction: row;
  }

  /* Desktop styling for products.html */

  .filters {
    flex-direction: row;
    align-items: center;
  }

  /* Desktop styling for shipping.html */

  .smaller_input {
    flex-direction: row;
  }

  @media (max-width: 280px) {
    .progress_text {
      flex-wrap: wrap;
    }
  }
}
