@font-face {
  font-family: "Bahnschrift";
  src: url("../fonts/BAHNSCHRIFT.TTF") format("truetype");
}

fieldset {
  border: 1px solid #0b626f;
  border-radius: 15px;
  display: inline;
  padding: 25px;
  margin: 10px;
}

#first-name,
#last-name,
#zipcode,
#county,
#phone-no,
#reg-email,
#create-pw,
#repeat-pw,
#exp-date,
#cvc {
  display: inline;
}

form {
  margin: 40px 0px;
}
