@font-face {
  font-family: "Bahnschrift";
  src: url("../fonts/BAHNSCHRIFT.TTF") format("truetype");
}

body {
  font-family: "Bahnschrift", Verdana, Geneva, Tahoma, sans-serif;
  color: #0b626f;
}

nav,
#menu-checkbox,
#payment-footer,
.footer-links,
.contact-info {
  display: none;
}

#menu-checkbox:checked ~ nav {
  display: block;
}

.hamburger-menu {
  margin-left: 1rem;
}

header,
footer {
  position: relative;
  background-color: #0b626f;
  padding: 0.5rem;
}

nav {
  position: absolute;
  background-color: #0b626f;
  left: 1rem;
}

nav a {
  display: block;
  color: #fff;
  font-size: 1.3rem;
  margin: 0.625rem 1.25rem;
  text-decoration: none;
}

footer {
  color: #fff;
  font-size: 0.7rem;
  display: flex;
}

footer a {
  color: inherit;
  text-decoration: none;
}

.socials {
  text-align: center;
  display: block;
  margin: auto;
}

.active-page {
  color: #f5c55d;
}

#logo {
  max-width: 100%;
  padding: 1rem;
}

.logo {
  width: 18.75rem;
  max-width: 100%;
  margin: auto;
}

.user-icons {
  background-color: #0b626f;
  float: right;
  margin-right: 1rem;
}

.icon_menu_img {
  width: 40px;
  margin-left: 0.5rem;
}

#search-site {
  color: inherit;
  font-size: 1rem;
  width: 100%;
  height: 35px;
  border-radius: 25px;
  border: none;
  background-image: url("../images/assets/icons/search_icon.png");
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: 10px;
  padding: 15px 15px 15px 45px;
}

.search {
  margin: 1rem;
}

.shopping-icons img:nth-child(2) {
  display: none;
}

main {
  margin: 2rem;
  text-align: center;
}

.rainydays-hq,
.about-info {
  width: 55rem;
  max-width: 100%;
  margin: auto;
  padding-bottom: 1rem;
}

.content-logo {
  display: none;
}

.intro-text,
.newsletter {
  padding: 1rem;
  border: 1px solid #0b626f;
  margin: 1rem 0rem;
}

.intro-links {
  background-color: #0b626f;
}

.intro-links a {
  display: inline-block;
  font-size: 1.2rem;
  color: #0b626f;
  background-color: #fff;
  text-decoration: none;
  text-align: center;
  width: 9.3rem;
  max-width: 100%;
  margin: 1rem;
  padding: 0.625rem;
}

.sale {
  text-transform: uppercase;
  color: #f5c55d;
  background-color: #000;
  padding: 1rem;
}

#newsletter-email {
  color: #0b626f;
  border: none;
  border-bottom: 1px solid #0b626f;
  font-size: 1rem;
  padding: 0.5rem;
}

#newsletter button {
  background-color: #0b626f;
  color: #fff;
  border: none;
  padding: 0.5rem;
  border-radius: 0px 10px 10px 0px;
}

/* Desktop styling */

@media (min-width: 900px) {
  nav {
    display: inline-block;
    position: static;
    margin-left: 2rem;
  }

  .hamburger-menu,
  .hero-img {
    display: none;
  }

  nav a {
    display: inline-block;
    font-size: 1.7rem;
    text-transform: uppercase;
    margin-right: 2rem;
  }

  nav a:hover,
  footer a:hover {
    color: #f5c55d;
  }

  .user-icons {
    margin-right: 3rem;
  }

  .icon_menu_img {
    margin-left: 1rem;
  }

  .search {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.8rem;
  }

  #payment-footer {
    display: inline-block;
    max-width: 16.875rem;
    margin-top: 2rem;
    margin-right: 1.2rem;
  }

  .contact-info,
  .footer-links {
    display: inline;
    margin-left: 1.2rem;
  }

  ul {
    list-style-type: none;
    padding-left: 0;
    margin-right: 1rem;
  }

  .contact-info {
    margin-top: 1.5rem;
  }

  .shopping-icons img:nth-child(2) {
    display: none;
  }

  .shopping-icons:hover img:nth-child(1) {
    display: none;
  }

  .shopping-icons:hover img:nth-child(2) {
    display: inline;
  }

  .content-logo {
    display: block;
    margin: auto;
    max-width: 100%;
  }

  .desktop-intro {
    color: #fff;
    background-color: #0b626f;
    border: solid 1px #ccc;
    outline: solid 1rem #0b626f;
    width: 35%;
    position: absolute;
    top: 7vh;
    left: 15vw;
  }

  .desktop-hero {
    background-image: url("../images/hero_img.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 30vw;
    background-position-y: center;
    height: 40rem;
    position: relative;
    margin-right: 5vw;
  }

  .intro-text {
    padding: 0;
    margin: 0;
  }

  .intro-links a {
    display: inline-block;
    margin: 1.25rem;
  }

  .intro-links a:hover {
    background-color: #f5c55d;
  }

  .sale,
  .newsletter {
    width: 100%;
    height: 13rem;
  }

  .sale {
    border: 1px solid #000;
  }

  .sale h2 {
    padding-top: 1rem;
  }

  .sale-newsletter {
    display: flex;
    align-items: center;
    margin-top: 1rem;
  }
}
