@font-face {
  font-family: "Bahnschrift";
  src: url("../fonts/BAHNSCHRIFT.TTF") format("truetype");
}

body {
  font-family: "Bahnschrift";
}

header,
footer {
  color: #ffffffff;
  background-color: #0b626f;
}

header a,
footer a {
  color: inherit;
  text-decoration: none;
}
